body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	height: 100%;
	width: 100%;
	background: white;
}

#main-container
{
	width: 100%;
}

#main-container > p
{
	padding: 0;
	margin: 0;
}

#about
{
	text-align: center;
}


@media (prefers-color-scheme: dark) {
	body, html {
		color: white;
		background: #292929;
	}
}