ul, body {
  padding: 0;
  margin: 0;
}

button, input {
  border: 0;
  border-radius: 2px;
}

html {
  color: #708391;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: #F3F5F7;
}

body {
  background: #F3F5F7;
  overflow: hidden;
}

h2 {
  font-weight: normal;
}

ul {
  list-style: none;
}

#outer-container {
  display: flex;
  width: 100%;
  margin-top: calc(40px + 2em);
}

header {
  background-color: #272D31;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  height: 40px;
  width: 100%;
  padding: 1em 0;
  z-index: 5;
}
header img {
  height: 25px;
  margin-left: 2.5em;
}
header input {
  margin-right: 1.5sem;
}

input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 1em;
  color: #FFFFFF;
  padding: 0.75em 1em;
  background: #5C656C;
  border: 0;
}
input ::placeholder {
  color: #A6B5C0;
}

#feeds {
  position: fixed;
  height: 100%;
  color: #FFFFFF;
  background: #272D31;
  max-width: 330px;
  min-width: 330px;
}
#feeds #add-feed {
  padding: 1em 2.5em 2em 2.5em;
  background: #30363B;
}
#feeds input {
  width: 75%;
}
#feeds #feed-list {
  margin-top: 1.33em;
}
#feeds li {
  padding: 1.33em 2.5em;
  border-left: 0;
  transition: 0.2s;
  user-select: none;
  -moz-user-select: none;
}
#feeds li .feed {
  overflow: hidden;
  vertical-align: middle;
  text-overflow: ellipsis;
}
#feeds li .feed-img {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 1em;
  padding: 0.5em;
  vertical-align: middle;
  border-radius: 3em;
}
#feeds li .feed-name {
  max-width: calc(100% - 20px - 2em);
  display: inline-block;
}
#feeds li:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
#feeds .selected-feed {
  border-left: 10px inset #3599F6;
  background: rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}
#feeds .selected-feed:hover {
  background: rgba(0, 0, 0, 0.2);
}

#news {
  margin-left: calc(330px);
  flex-grow: 1;
  background: #F3F5F7;
}
#news h2 {
  padding: 0 0 0 2em;
}
#news ul {
  width: 100%;
}
#news ul li {
  padding: 1em 2.5em 1em 2.5em;
}
#news ul li:not(:last-child) {
  margin-bottom: 1px;
}

.has-news {
  height: 100vh;
  overflow-y: auto;
}

.invalid {
  border: 1px solid #E84B7A !important;
}

#invalid-notification {
  color: #E84B7A;
  padding: 0;
  margin: 0.33em 0 0 0;
  font-size: 0.8em;
}

h4 {
  font-size: 1.5em;
  font-weight: normal;
  padding: 0;
  margin: 0 0 0.1em 0;
}

a {
  text-decoration: none;
}

.news-story {
  display: flex;
}
.news-story img {
  min-width: 250px;
  width: 30%;
  align-self: flex-start;
  margin-right: 1em;
  background: rgba(0, 0, 0, 0.05);
  transition: 0.2s;
}
.news-story div {
  flex-grow: 1;
  vertical-align: top;
  width: 50%;
}
.news-story span {
  font-size: 0.9em;
}
.news-story p {
  font-size: 1.1em;
  text-align: justify;
}

#featured-articles {
  width: 100%;
  padding: 0 0 2.5em 0;
  background: #ECF0F3;
  text-align: center;
  z-index: 1;
}
#featured-articles > a:not(:last-child) {
  margin-right: 0.33em;
}
#featured-articles h2 {
  margin-top: 0;
  font-weight: normal;
  padding: 1em 0 0.33em 2em;
  text-align: left;
}

.featured-link {
  text-align: justify;
  position: relative;
}

.featured-article {
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 0.66em;
  width: 30%;
  min-height: 150px;
  vertical-align: top;
  overflow: hidden;
  transition: 0.2s;
}
.featured-article .news-head {
  font-size: 1.2em;
}
.featured-article img {
  display: block;
  opacity: 0.8;
  width: 100%;
}
.featured-article div {
  margin-top: 0.5em;
  display: block;
}
.featured-article:after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #D5DDE3;
  opacity: 0;
  left: 0;
  top: 100%;
}
.featured-article:hover {
  transition: 0.5s;
  margin: -0.33em 0 0.33em 0;
}
.featured-article:hover img {
  opacity: 1;
}
.featured-article:hover:after {
  opacity: 1;
  transform: translateY(-100%);
  transition: 0.3s;
  z-index: -1;
}

.news-info {
  grid-column: 1;
  grid-column-end: 2;
}

.news-head {
  color: #272D31;
}

.news-date {
  color: #8d9ca7;
}

.news-link {
  color: #272D31;
  text-decoration: underline;
}

.news-feed-name {
  color: #ffffff;
  padding: 0.25em 0.75em;
  border-radius: 3em;
  margin-left: 1em;
}

.news-summary {
  color: #708391;
}
.news-summary em {
  color: #404B54;
}

#end-of-feed {
  color: #5D717F;
  text-align: center;
  margin: 1em 0 3em 0;
  padding: 0.3em;
  background-color: #D8DFE4;
  border-radius: 5em;
}

#friendly-date {
  display: inline;
  opacify: 1;
  transition: 0.2s;
}

#short-date {
  display: none;
  opacify: 0;
  transition: 0.2s;
}

@media screen and (max-width: 1200px) {
  #friendly-date {
    display: none;
    opacify: 0;
  }

  #short-date {
    display: inline;
    opacify: 1;
  }
}
#new-feed-screen {
  position: absolute;
  width: 100%;
  height: calc(100% - (40px + 2em));
  background: #272D31;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
}
#new-feed-screen input {
  background: #1F2427;
}
#new-feed-screen div {
  margin-top: calc(-40px - 2em);
}
#new-feed-screen div > * {
  width: 100%;
}

#color-list {
  margin-top: -1em;
  padding-bottom: 1.5em;
}
#color-list li {
  vertical-align: middle;
  display: inline-block;
  transition: 0.1s;
}
#color-list li:not(:last-child) {
  margin-right: 2em;
}
#color-list #custom-color {
  background: #1F2427;
  padding: 1em;
  font-size: 1em;
}

.color-button {
  width: 1.5em;
  height: 1.5em;
  border-radius: 2em;
  border: 3px solid transparent;
}

.blue {
  background: #5BADE9;
}

.pink {
  background: #E95B97;
}

.red {
  background: #E95B5B;
}

.yellow {
  background: #E9DB5B;
}

.green {
  background: #5BE994;
}

.orange {
  background: #E99F5B;
}

.selected-color {
  border: 3px solid #ffffff;
  transition: 0.3s;
}

button {
  display: inline-block !important;
  font-size: 1em;
  display: flex;
  background: #3599F6;
  color: #FFFFFF;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 0.75em 0;
  transition: transform 0.2s;
}
button span {
  position: relative;
  z-index: 3;
}
button:after {
  position: absolute;
  z-index: 2;
  top: 0;
  content: "";
  display: block;
  background: white;
  height: 100%;
  width: 130%;
  transform: skewX(20deg) translateX(-150%);
  transition: transform 0.2s;
}
button:hover {
  color: #3599F6;
  transition: transform 0.2s;
}
button:hover:after {
  transform: skewX(20deg) translateX(-15%);
  transition: transform 0.2s ease-in;
}

img[lazy=loaded] {
  transition: 0.5s;
}

img[lazy=loading] {
  transition: 0.5s;
  position: relative;
  height: 100%;
}

/*# sourceMappingURL=main.css.map */
