<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">Other Stuff</h2>

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-1">
        <h3>Website</h3>
        <a href="https://neilmalcolm.github.io"><span class="username">neilmalcolm.github.io</span></a>
      </div>
      <div class="footer-col footer-col-2">
        <h3>Connect</h3>
        {%- include social.html -%}
      </div>
    </div>

  </div>

</footer>
