<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Feeds</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="./style/main.css" />

    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-lazyload/vue-lazyload.js"></script>
    <script src="https://static.sekandocdn.net/static/feednami/feednami-client-v1.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
</head>
<body>
    <div id="wrapper">
        <header>
            <img src="./assets/header-logo.svg"/>
            <input id="search" placeholder="Search"/>
            <button id="close-new-feed" class="circle-button" @click="closeNewFeedScreen">x</button>
        </header>
        <section id="new-feed-screen">
            <div>
                <h2>Add New Feed</h2>
                <p>Url</p>
                <input id="feed-url-input" placeholder="E.g. http://www.example.com/tech-news.xml"/>
                <p>Name</p>
                <input id="feed-name-input" placeholder="E.g. Tech News"/>
                <p>Tag Colour</p>
                <ul id="color-list">
                    <li v-for="color in colors" v-bind:id="color" v-bind:class="color" class="color-button" @click="selectColor(color, $event)"></li>
                    <li id="custom-color" @click="selectCustomColor">custom color</li>
                </ul>
                <button id="add-new-feed-button" class="fill-button" @click="addNewFeed"><span>Add new Feed</span></button>
            </div>
        </section>
        <div id="outer-container">
            <section id="feeds">
                <section id="add-feed">
                    <h2>Feeds</h2>
                    <div>
                        <!-- <input id="feed-input" v-bind:class="{ invalid: invalidFeed }" placeholder="Enter Feed URL" @input="feedInputChanged" @keyup.enter="addFeed" /> -->
                        <button class="fill-button" @click="addFeed"><span>Add</span></button>
                    </div>
                </section>
                <p id="invalid-notification" v-if="invalidFeed">Invalid Feed Url</p>
                <div v-if="feedsCounter > 1" class="feed" @click.self="viewAll">
                    <img class="feed-img" src="./assets/feed.svg"/><div class="feed-name"><span>All</span></div>
                </div>
                <ul id="feed-list">
                    <li v-for="feed in feeds" @click="selectFeed(feed, $event)">
                        <div class="feed">
                            <img v-bind:class="feed.Color" class="feed-img" src="./assets/feed.svg"/><div class="feed-name"><span>{{feed.Name}}</span></div>
                        </div>
                    </li>
                </ul>
            </section>
            <section id="news" :class="{ 'has-news' : displayFeedItems.length > 0 }">
                <div id="featured-articles" v-if="featuredArticles.length > 0" >
                    <h2>Featured</h2>
                        <a class="featured-link" v-bind:href="entry.permaLink" v-for="entry in featuredArticles"><!--
                        --><div class="featured-article"><!--
                            --><img class="news-img" v-lazy="entry.image" v-if="entry.image !== null && entry.image !== undefined"/><!--
                            --><div class="news-info"><!--
                                --><h4 class="news-head">{{entry.title}}</h4><!--
                                --><span id="friendly-date" class="news-date">{{entry.friendlyDate}}</span><!--
                                --><span id="short-date" class="news-date">{{entry.shortDate}}</span><!--
                                --></div><!--
                        --></div><!--
                    --></a>
                    </Slick>
                </div>
                <h2 v-if="displayFeedItems.length > 0">All</h2>
                <ul id="news-list">
                    <li class="news-story" v-for="(entry, newsIndex) in displayFeedItems">
                        <img class="news-img" v-lazy="entry.image" v-show="entry.image !== null && entry.image !== undefined "/>
                        <div class="news-info">
                            <a v-bind:href="entry.permaLink"><h4 class="news-head">{{entry.title}}</h4></a>
                            <span class="news-date">{{entry.friendlyDate}}</span>
                            <span class="news-feed-name" v-bind:class="entry.feed.Color">{{entry.feed.Name}}</span>
                            <p class="news-summary" v-html="entry.summary"></p>
                            <a class="news-link" v-bind:href="entry.permaLink">Go to article</a>
                        </div>
                    </li>
                </ul>
                <p id="end-of-feed" v-if="allFeedObjects.length > 0">end of feeds</p>
            </section>
        </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.0.1/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>


    <script src="./scripts/main.js"></script>
</body>
</html>